$white: #fff;
$black: #000;
$colors: (
  'neutral': (
    100: #ffffff,
    200: #b5b5b5,
    300: #545357,
    400: #242424,
    500: #0f0f0f,
    600: #020203,
  ),
  'primary': (
    100: #d3bbfa,
    200: #8144df,
    300: #632abb,
  ),
  'secondary': (
    100: #dc49a6,
    200: #dc49a6,
    300: #b83387,
  ),
);
